<%= link_to "back to home", movies_path %>

<h1>Movies#edit</h1>
<p>Find me in app/views/movies/edit.html.erb</p>

<b>Editing:</b> <%= @sdmovie.title %> <br>


<%= render partial: "forms", locals: {zone: @sdmovie} %>




<%= form_for @sdmovie, :html => {:multipart => true} do |f| %>
  <% @sdmovie.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>

  <p>
    <%= f.file_field :image %>
  </p>
  <p>
    <%= f.label :remote_image_url, "or image URL" %><br />
    <%= f.text_field :remote_image_url %>
  </p>
  <p><%= f.submit %></p>
<% end %>

